.custom-link {
    text-decoration: none;
}

.custom-card {
    display: inline-block;
    margin-bottom: 2rem;
}

/* Element Selectors
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
    color: #537CB5;
}

header {
    background-color: #537CB5;
    display: flex;
    min-height: 110px;
    justify-content: space-between;
}

h1 {
    background-color: #B2CAD6;
    font-size: 50px;
    align-self: center;
    padding: 10px 10px 10px 45px;
}

nav {
    display: flex;
    align-self: center;
    margin-right: 30px;
}

nav a {
    color: #B2CAD6;
    margin: 15px;
}

p {
    font-size: 16px;
    line-height: 25px;
}

.title h2 {
    font-size: 40px;

}

/* .about-me {
    padding: 100px;
} */

/* .work {
    padding: 16px
}

.contact-me {
    margin: 20px;
} */

/* Class Selectors */
/* .hero {
    background-image: url("../images/jazz-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: flex-end;
}

.subtitle {
    background-color: #B2CAD6;
    position: absolute;
    margin: 86px;
    padding: 20px;
}

.title {
    display: flex;
    margin-left: 50px;
    margin-top: 5px;
    text-align: right;
    border-right: 8px solid #537CB5;
    padding-right: 35px;
    max-width: 140px;
    
}

.blurb {
    display: flex;
    font-size: 16px;
    flex-wrap: wrap;
    margin-left: 20px;

}

.avatar {
    display: flex;
    justify-content: flex-end;

}

.avatar img {
    border-radius: 50% 20% / 10% 40%;
    margin: 10px 15px;
    height: 289px;
    width: 200px;
}
.showcase-work-card {
    
    
}

.show-case-image {
    display: flex;
    height: 300px;


}


.thumbnail-long {
    opacity: 0.75;
    border: 3px solid #B2CAD6;
    margin: 5px;
    justify-content: center;
   
    
}

.work-cards-main {
    display: flex;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    display: block;
    opacity: 0.75;
    border: 3px solid #B2CAD6;
    flex-basis: 100%;
    margin: 5px;
    
} */

/* .thumbnail-long:hover {
    opacity: 1;
} */

/* .thumbnail:hover {
    opacity: 1;
}

.contact-link-box {
    display: flex;
    align-items: flex-end;
}

.contact-link {
    margin: 30px;
    }

/* ID Selectors */
/* #about-me {
    display: inline-flex;
    margin-top: 20px;
}

#work {
    display: inline-flex;
    margin-top: 20px;
}

#contact-me {
    display: inline-flex;
    margin-top: 20px;
} */ 

/* Media Queries */

/* @media only screen and (min-width: 1280px){
    .thumbnail {
        flex-basis: 25%
    }

}
    
@media only screen and (min-width: 960px){
    .thumbnail {
        flex-basis: 33.33%
    }

}
    
@media only screen and (min-width: 640px){
    .thumbnail {
        flex-basis: 50%
    }

    nav a {
        flex-direction: column;
    }
}
     */ 