/* Universal Selector */
* {
    margin: 0;
    padding: 0;
}

/* Element Selectors */
body {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(244, 230, 210);
}

a {
    text-decoration: none;
    color: purple;
 }

 a:hover {
   color: rgb(73, 159, 63);
 }

header {
    border-bottom: 8px solid black; 
    width: 100%;
    font-family: 'Reenie Beanie', cursive;
    padding: 15px;

}
header h1 {
    display: inline-block;
    font-size: 60px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 30px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

p {
    font-size: 18px;
    margin: 20px;
}

figure {
    display: inline-block;
}

img {
    margin: 15px;
    border: 3px solid purple;
}

footer {
    margin-top: 0;
    bottom: 0;
    border-top: 8px solid black;
    width: 100%;
}
/* Class Selectors */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.blurb {

}

.about-me-label {
    float: left;
    margin: 0px 20px 300px 20px;
}

.projects-label {
    float: left;
    margin: 0px 20px 300px 20px;
}

.contact-label {
    float: left;
    margin: 0px 20px 300px 20px;
}

.resume-label {
    float: left;
    margin: 0px 20px 300px 20px;
}

.border-radius {
    border-radius: 50% 20% / 10% 40%;
}

    
/* ID Selectors */
#about-me {

}

#projects {

}

#contact {

}

#resume {

}

/* Media Queries */