/* Element Selectors */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
    color: darkblue;
}

header {
    background-color: darkblue;
    display: flex;
    min-height: 110px;
    justify-content: space-between;
}

h1 {
    background-color: aquamarine;
    font-size: 50px;
    align-self: center;
    padding: 10px 10px 10px 45px;
}

nav {
    display: flex;
    align-self: center;
    margin-right: 30px;

}

nav a {
    color: aquamarine;
    margin: 15px;
}

p {
    font-size: 16px;
    line-height: 25px;
}

/* Class Selectors */
.hero {
    background-image: url("../images/jazz-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    align-content: flex-end;
}

.subtitle {
    background-color: aquamarine;
    position: absolute;
    margin: 86px;
    padding: 20px;
}

.title {
    display: flex;
    margin-left: 8%;
    margin-top: 5px;
    
}

.blurb {
    display: flex;
    margin-bottom: 10px ;
    margin-left: 400px;
    font-size: 16px;
    flex-wrap: wrap;

}

.avatar {
    display: flex;
    justify-content: flex-end;

}

.avatar img {
    border-radius: 50% 20% / 10% 40%;
    margin: 10px;
}

.thumbnail-long {
    background-image: url("../images/olivo-florian-unsplash.jpg");
    width: 100%;
    height: 200px;
    opacity: 0.75;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid aquamarine;
    
}

.thumbnail {
    width:  50px;
    height: 500px;
    opacity: 0.5;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid aquamarine;
}

.thumbnail-long:hover {
    opacity: 1;
}

.contact-link {
    display: flex;
    justify-content: space-around;
}

/* ID Selectors */
#about-me {
    display: inline-flex;
    margin-top: 20px;
}


/* Media Queries */

