/* Element Selectors */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
    color: darkblue;
}

header {
    background-color: darkblue;
    display: flex;
    min-height: 110px;
}

h1 {
    display: flex;
    justify-content: flex-start;
    background-color: aquamarine;
    font-size: 50px;
    align-self: center;
    margin-left: 50px;
}

nav {
    display: flex;
    align-self: center;


}

nav a {
    color: aquamarine;
    margin: 15px;
}

p {
    font-size: 16px;
    line-height: 25px;
}

/* Class Selectors */
.hero {
    background-image: url(https://images.unsplash.com/photo-1549477606-43a329b26066?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

.subtitle {
    display: flex;
    background-color: aquamarine;
    justify-content: flex-end;
    align-self: flex-end;
    align-content: flex-end;
}

.title {
    display: flex;
    margin-left: 8%;
    margin-top: 5px;
    
}

.blurb {
    display: flex;
    margin-bottom: 10px ;
    margin-left: 25%;
    font-size: 16px;
    flex-wrap: wrap;

}

.avatar {
    display: flex;
    justify-content: flex-end;

}

.avatar img {
    border-radius: 50% 20% / 10% 40%;
    margin: 10px;
}

.thumbnail-long {
    width: 100%;
    max-height: 25px;
    opacity: 0.5;
    display: flex;
    flex-wrap: wrap;
    border: 20px solid aquamarine;
}

.thumbnail {
    width:  50px;
    height: 25px;
    opacity: 0.5;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid aquamarine;
}

.thumbnail-long:hover {
    opacity: 1;
}

.contact-link {
    display: flex;
    justify-content: space-around;
}

/* ID Selectors */
#about-me {
    display: inline-flex;
    margin-top: 20px;
}


/* Media Queries */

